{% load static %}
{% load i18n %}
   <!-- Begin Footer -->
      <footer class="page-footer font-small pt-4 " style="background-color : rgb(225,145,50) ; color : white">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mt-md-0 mt-3">

              <!-- Content -->
              <div class="text-center border-right">
                <img src="{% static 'images/ept_logoHAUT.svg' %}" height = "125" class="rounded " alt="...">
                <p class="footer-copyright ">© 2021 Copyright: ept.sn | {% blocktranslate %}Ecole Polytechnique de Thies{% endblocktranslate %} </p>
              </div>




            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-4 m4-md-0 mb-3  border-right">

              <!-- Links -->
              <h5 class="text-uppercase">{% blocktranslate %}Contacts{% endblocktranslate %}</h5>

              <ul class="list-unstyled mt-4">
                <li>
                  <a style="text-decoration:none; color: white ;font-weight :normal;  ;" href="#!">Mail : ept@ept.sn</a>
                </li>
                <li>
                  <a style="text-decoration:none; color: white ;font-weight :normal  ;" href="#!">{% blocktranslate %}Postal{% endblocktranslate %} : BP A10, Thies, Senegal</a>
                </li>
                <li>
                  <a style="text-decoration:none; color: white ;font-weight :normal  ;" href="#!">{% blocktranslate %}Telephone{% endblocktranslate %} : 00221 33 951 15 48</a>
                </li>
                <li>
                  <a style="text-decoration:none; color: white ;font-weight :normal  ;" href="#!">Fax : 00221 33 951 14 76</a>
                </li>
              </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 mb-md-0 mb-3">

              <!-- Links -->
              <h5 class="text-uppercase">{% blocktranslate %}Social{% endblocktranslate %}</h5>

              <ul class="list-unstyled list-group list-group-horizontal-md mt-5">
                <li class="mr-2">
                  <a style="text-decoration:none; color: white" href="#!"><img src="{% static 'images/iconmonstr-instagram-141.svg' %}"  alt="..."></a>
                </li>
                <li class="mr-2">
                  <a style="text-decoration:none; color: white" href="#!"><img src="{% static 'images/facebook_black_24dp1.svg' %}"  alt="..."></a>
                </li>
                <li class="mr-2">
                  <a style="text-decoration:none; color: white" href="#!"><img src="{% static 'images/iconmonstr-twitter-41.svg' %}"  alt="..."></a>
                </li>
                <li>
                  <a style="text-decoration:none ; color: white" href="#!"><img src="{% static 'images/iconmonstr-youtube-91.svg' %}"  alt="..."></a>
                </li>
              </ul>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->

        <!-- Copyright -->

      </footer>
      <!-- End Footer -->
