{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
     <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.3.1/css/flag-icon.min.css" rel="stylesheet"/>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
    li a {
        text-decoration:none ; color : black ;
        font-weight :bold  ;
    }
    li a:hover {
        color : rgb(225,145,50) ;
    }
    li a:active {
        color : rgb(225,145,50) ;
    }
    .btn-outline-warning:hover {
      background-color : rgb(225,145,50) ;
      color : white ;
    }
    .dropdown-menu {
      background-color : rgb(225,145,50) ;

    }
    .dropdown-menu a{
      color : white ;
    }
    .dropdown-menu a:hover{
      background-color : white ;
    }





    </style>
  </head>
  <body>

      <header class="d-flex flex-wrap align-items-center justify-content-center  py-3  border-bottom">


          <div class="col-lg-1 col-md-12 float-left">


        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
          <img src="{% static 'images/ept_logoHAUT.svg' %}" height="50" alt="logoEPT">
        </a>
        </div>
        <div class="col-lg-7 col-md-12 ">



        <ul class="nav col-12 col-md-auto   mb-2 justify-content-center mb-md-0">
          <li><a href="/home" id="accueil" class="nav-link px-2 link-secondary">{% blocktranslate %}Accueil{% endblocktranslate %}</a></li>
          <li>
            <a class="nav-link dropdown-toggle" id="departements"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Departements
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" style="text-decoration:none " href="/departement/GIT">{% blocktranslate %}Genie Informatique-Telecoms{% endblocktranslate %}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="text-decoration:none" href="/departement/GC">{% blocktranslate %}Genie Civil{% endblocktranslate %}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="text-decoration:none" href="/departement/GEM">{% blocktranslate %}Genie Electromecanique{% endblocktranslate %}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="text-decoration:none" href="/departement/AERO">{% blocktranslate %}Genie Aeronautique{% endblocktranslate %}</a>

            </div>
          </li>
          <li><a href="/admin" id="administration" class="nav-link px-2 link-dark">{% blocktranslate %}Administration{% endblocktranslate %}</a></li>
          <li><a href="/contacts" id="contacts"  class="nav-link px-2 link-dark">{% blocktranslate %}Contacts{% endblocktranslate %}</a></li>
          <li><a href="#" id="a propos"  class="nav-link px-2 link-dark">{% blocktranslate %}A propos{% endblocktranslate %}</a></li>
          <li>
            <a class="nav-link dropdown-toggle border-left border-right border-warning" id="departements"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="https://cdn.icon-icons.com/icons2/1222/PNG/512/1492616968-18-google-translate-text-language-translation_83413.png" height="30" alt="langue">
            </a>
            <div class="dropdown-menu" style="background-color:white;border:none;margin:none" aria-labelledby="navbarDropdown">
              
              <form class="" method="post">
                {% csrf_token %}
                <input type="submit"  style="border:none ; background-color :white" value="fr" name="langue">  
                   </input>
              </form>
              <form class=""  method="post">
                {% csrf_token %}
                <input type="submit" style="border:none ; background-color :white" value="en" name="langue"> </input>
              </form>

            </div>
          </li>
        </ul>
        </div>

        <div class="col-lg-4 col-md-12 text-right text-end">
          {% if request.user.is_authenticated %}
          <button  style="background-color : white; border:none ;color:rgb(225,145,50);"  data-toggle="modal"class=" disabled   ml-5 mr-2">{% blocktranslate %}Bienvenue{% endblocktranslate %} {{request.user.username}} </button>
          <button type="button"  data-toggle="modal" class="btn btn-outline-warning"><a href="/logout" style="text-decoration:none ; color:black ">{% blocktranslate %}Deconnexion{% endblocktranslate %}</a></button>

          {% else %}
          <button type="button" style="background-color : rgb(225,145,50)  ;color:white;" href="#myModal" data-toggle="modal"class="btn trigger-btn  btn-warning ml-5 mr-2">{% blocktranslate %}Connexion{% endblocktranslate %}</button>
          <button type="button" href="#myModal2" data-toggle="modal" class="btn btn-outline-warning">{% blocktranslate %}Inscription{% endblocktranslate %}</button>
          {% endif %}
        </div>


      </header>




  </body>


</html>
