{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
    li a {
        text-decoration:none ; color : black ;
        font-weight :bold  ;
    }
    li a:hover {
        color : rgb(225,145,50) ;
    }
    li a:active {
        color : rgb(225,145,50) ;
    }
    .btn-outline-warning:hover {
      background-color : rgb(225,145,50) ;
      color : white ;
    }
    .dropdown-menu {
      background-color : rgb(225,145,50) ;

    }
    .dropdown-menu a{
      color : white ;
    }
    .dropdown-menu a:hover{
      background-color : white ;
    }





    </style>
  </head>
  <body>

      <header class="d-flex flex-wrap align-items-center justify-content-center  py-3  border-bottom">


          <div class="col-lg-1 col-md-12 float-left">


        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
          <img src="{% static 'images/ept_logoHAUT.svg' %}" height="50" alt="logoEPT">
        </a>
        </div>
        <div class="col-lg-7 col-md-12 ">



        <ul class="nav col-12 col-md-auto   mb-2 justify-content-center mb-md-0">
          <li><a href="/" id="accueil" class="nav-link px-2 link-secondary">Accueil</a></li>
          <li>
            <a class="nav-link dropdown-toggle" id="departements" style="" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Departements
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" style="text-decoration:none " href="/departement_GIT">Genie Informatique-Telecoms</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="text-decoration:none" href="#">Genie Civil</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="text-decoration:none" href="#">Genie Electromecanique</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="text-decoration:none" href="#">Genie Aeronautique</a>

            </div>
          <li>
          <li><a href="/admin" id="administration" class="nav-link px-2 link-dark">Administration</a></li>
          <li><a href="/contacts" id="contacts"  class="nav-link px-2 link-dark">Contacts</a></li>
          <li><a href="#" id="a propos"  class="nav-link px-2 link-dark">A propos</a></li>
        </ul>
        </div>

        <div class="col-lg-4 col-md-12 text-right text-end">
          {% if request.user.is_authenticated %}
          <button  style="background-color : white; border:none ;color:rgb(225,145,50);"  data-toggle="modal"class=" disabled   ml-5 mr-2">Bienvenue {{request.user.username}} </button>
          <button type="button"  data-toggle="modal" class="btn btn-outline-warning"><a href="/logout" style="text-decoration:none ; color:black ">Deconnexion</a></button>

          {% else %}
          <button type="button" style="background-color : rgb(225,145,50)  ;color:white;" href="#myModal" data-toggle="modal"class="btn trigger-btn  btn-warning ml-5 mr-2">Connexion</button>
          <button type="button" href="#myModal2" data-toggle="modal" class="btn btn-outline-warning">Inscription</button>
          {% endif %}
        </div>


      </header>




  </body>


</html>
