{% load i18n %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title> Login Modal Form</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<style>
body {
	font-family: 'Varela Round', sans-serif;
}

</style>
</head>
<body>
<!-- Modal HTML -->

<div id="myModal" class="modal fade">
	<div class="modal-dialog modal-sm modal-login">
		<div class="modal-content">
			<form  method="post" enctype="multipart/form-data">
        {% csrf_token %}
				<div class="modal-header">
					<h4 class="modal-title">{% blocktranslate %}Connexion{% endblocktranslate %}</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group" style="border-color: rgb(225,145,50)">
            <input type="text" placeholder="username" required style="border-color: rgb(225,145,50)" name="username" value="">
            <br>


					</div>
					<div class="form-group" style="border-color: rgb(225,145,50)">
            <input type="password" required placeholder="mot-de-pass" style="border-color: rgb(225,145,50)" name="password" value="">
            <br><br>
            <label class="form-check-label" ><input type="checkbox">{% blocktranslate %} Se souvenir de moi{% endblocktranslate %}</label>

					</div>
				</div>
				<div class="modal-footer justify-content-between">
            <input type="submit" class="btn  " style="color : white ; background-color:rgb(225,145,50)" value="Login">
            <a href="#" class="float-right text-muted" ><small style="color : rgb(225,145,50);">{% blocktranslate %}Mot de pass oublié ?{% endblocktranslate %}</small></a>

        </div>

			</form>
		</div>
	</div>
</div>
</body>
</html>
{% endblock %}
